.container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    
    .filter{
        width: 100%;
        border: none;
        outline: 1px solid rgba(255, 123, 0, 0.8);
        font-size: 1rem;
        padding: 0.7rem;
        padding-left: 0.8rem;
        border-radius: 2rem;
    }
    
}